body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f8fc;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar-brand {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.code-icon {

    font-size: 12px;
    color: #ff6f61
}

p {
    font-family: "Questrial", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Questrial", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #ff6f61;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4f41;
}

form {
    margin-top: 20px;
}

input,
textarea {
    border: 1px solid #ddd;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 95%;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 1rem;
}

a {
    color: #ff6f61;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4f41;
}

.middle-section {
    background-color: #ffffff;

}

.latest_news_heading {
    font-size: 28px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.create_form {
    margin-top: 50px;
}

.create_form,
.blog_post_heading,
.form_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.create_blog {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.main-img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.image_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.blog_post_heading {
    font-size: 32px;
    color: #ff6f61;
}

.submit_btn {
    display: block;
    margin: auto;
}

.author_name_posted,
.date-posted {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10.5px;
    color: #c5c5c5d9;
}

.new_post_posted {
    font-size: 12px;
    color: #c5c5c5d9;
}

.posted_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 30%;
    box-sizing: border-box;
}

.website-heading {
    color: #ff6f61;
    margin-bottom: 30px;
    font-size: 4.5rem;
}

.website-description {
    color: #333;
    font-size: 17px;
    line-height: 1.6;
}

.main-text {
    flex: 1;
    padding-right: 20px;
    padding-left: 30px;
}

.form_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.posts_container {
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article_name_posted {
    font-size: 1.8em;
    color: #737373d9;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.delete_btn,
.edit_btn {
    margin-right: 10px;
}

.delete_btn,
.edit_btn {
    margin-top: 10px;
}

.join-btn {
    color: #ff6f61;
    padding: 3px 30px;
    border-color: #ff6f61;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.join-btn:hover {
    background-color: #ff4f41;
}

/* Footer*/
.footer-background {
    margin-top: 5%;
    background-color: #ff6f61;
    width: 100%;
}

.footer-container {
    padding-top: 50px;
}

.footer-heading {
    font-size: 30px;
    font-family: "Questrial", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Subscriber Form*/
.subscription-section {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-left: 30px;
}

.subscriber-email,
.subsriber-name {
    width: 20%;
    padding: 10px;
    font-size: 16px;
}

.submit-subscription-email {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 10%;
}

.social-tags {
    margin-top: 80px;
    color: #f7f8fc;
    display: flex;
    justify-content: space-between;
    /* This will position the text and icons on opposite sides */
    align-items: center;
    /* This vertically centers the items */
    padding: 10px;
    /* Adjust padding as needed */
}

.social-media-icons {
    display: flex;
    gap: 50px;
    /* Adjust the space between icons */
    margin-right: 50px;
}

.social-media-icons i {
    font-size: 17px;
    /* Adjust icon size as needed */
    cursor: pointer;
    /* Adds a pointer cursor on hover */
}

.creator-name {
    font-size: 15px;
}

/* nav bar*/
.navbar-nav {
    padding: 20px;
}

.navbar-nav .nav-link {
    margin-right: 20px;
    /* Add margin to the right of each anchor tag */
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.sign_up_class {
    display: flex;
    align-items: center;
    margin: auto;
}

.sign_up_class input[type="email"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -5px;
}

.sign_up_class button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sign-up {
    width: 40%;
    margin-top: 40px;
    margin-left: 25%;
}

.sign-up-btn {

    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20%;
    margin-top: 35px;
}


.hr-1 {
    margin-left: 25px;
    width: 3%;
}


.date-posted {
    font-size: 10px;
}

/*  Edit Blog Post Page*/
.edit_author_name,
.edit_article_name {
    width: 80%;
}

.edit_new_post {
    width: 170%;
}

.edit-heading{
    text-align: center;
}

.edit-post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.edit_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    /* Adjust the max-width as needed */
}

.delete-btn,
.update-btn {
    float: left;


}

.delete-btn {
    margin-top: -5px;
    margin-left: 20px;
}

.action-btns {
    margin-top: -20px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

/* Documentation Page */
.home-page-screenshot,
.news-cafe-screenshot,
.about-us-page-screenshot {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-1,
.section-2,
.section-3 {
    padding-bottom: 20px;
}


.section-4 {
    padding-bottom: 50px;
}

.section-1 {
    background-color: white;
    margin-top: -5px;

}


.page-subheading-2 {
    margin-bottom: 20px;
}

.page-subheading-2 {
    font-size: 30px;
}

.page-minisubheading-1,
.page-minisubheading-2,
.page-minisubheading-3 {
    margin-top: 20px;
}


.page-subheading-3,
.page-minisubheading-4,
.ejs-templating-paragraph,
.page-minisubheading-5,
.bootstrap-integration-paragraph,
.page-minisubheading-6, .css-flexbox-paragraph, .page-minisubheading-7, .commenting-system-paragraph {
    color: black;
}

.page-subheading-3,
.page-subheading-4,
.page-subheading-5 {
    padding-top: 30px;
}

.page-subheading-2,
.page-minisubheading-4,
.page-minisubheading-8 {
    padding-top: 15px;
}


.home-page-descriptions,
.blog-section-description,
.about-page-description,
.ejs-templating-paragraph,
.bootstrap-integration-paragraph,
.css-flexbox-paragraph,
.commenting-system-paragraph,
.writing-articles-paragraph,
.commenting-paragraph,
.technologies-used-paragraph,
.hosting-paragraph {
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
}


.section-2 {
    color: white;
    background-color: #ff6f61;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    padding-left: 40px;

}

.section-3 {
    background-color: #333;
    color: white;
}

.section-4 {
    background-color: #6e6d6d;
    color: white;
}

.home-page-section,
.blog-section,
.about-page {
    padding-bottom: 10px;
}

/*  About Page*/

.banner-img {
    width: 43%;
}

.page-main {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-heading {
    padding-top: 50px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    margin-bottom: 30px;


}

.page-main-text {
    margin-top: -20px;
}

.about-us-paragraph {
    margin-left: 20px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
}

.learn-more {
    width: 15%;
}

.learn-more-container {
    margin-top: 50px;
    text-align: center;
}

.main-body {
    padding-top: 50px;
    background-color: #ffffff;
    padding-bottom: 100px;
}

.meet-our-team-heading,
.mission-statement-heading {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;

}

.footer-background-1 {
    margin-top: -50px;
}

.meet-our-team-description {
    text-align: center;

}

.member-img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
    border-radius: 50%;
}


.team-memeber-01 {
    margin-top: 4%;
}

.member-01-name,
.member-01-role {
    text-align: center;
}

.member-01-name {
    margin-top: 20px;
}

.member-01-role {
    margin-top: -15px;
}

.icon-1 {
    width: 20px;
    color: #0077B5;

}

.member-01-social-icons {
    margin-top: -5px;
    gap: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-statement-heading,
.meet-our-team-heading {
    margin-bottom: 20px;
}

.mission-statement-heading {
    margin-top: 4%;
}

.mission-statement-paragraph {
    text-align: center;
}